nv set vrf {{ vrf }} router bgp enable on
nv set vrf {{ vrf }} router bgp neighbor {{ bgp_neighbor }} remote-as {{ remote_as }}
nv set vrf {{ vrf }} router bgp neighbor {{ bgp_neighbor }} type numbered